@import "tailwindcss";
:root {
  --white: #ffffff;
  --primary: #22577a;
  --secondary: #57cc99;
  --lightgreen: #80ed99;
  --teal: #c7f9cc;
  --font-size: 1.5rem;
  --urbanist: "Urbanist", sans-serif;
  --asset: "Asset", serif;
  --chonburi: "Chonburi", serif;
}

#root {
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
